body{
	text-align: center;
}

.box{
	background-color: #3498DB;
	color: white;
	margin: 20px;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 100px;
	box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0,0,0,0.3);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
}

