<!DOCTYPE HTML> 

<html>
	<head>
		<title>Reciept</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Reciept </h2>
	
		
	<form action="/buyerFunctionality" method="post">
   Order Number:
 		 <input type="text" name="orderNo"> <br> <br>
		Payment Name:
 		 <input type="text" name="payName"> <br> <br>
     Deliverer's Name:
 		 <input type="text" name="deliverer"> <br> <br>
   	Number of Items:
 		 <input type="text" name="noItems"> <br> <br>
     Time Order Places:
 		 <input type="text" name="orderTime"> <br> <br>
     Time of Delivery:
 		 <input type="text" name="deliveryTime"> <br> <br>
   
    
    
    <input type="submit" value="Update Status"> <br> <br>

	</form>
	
  <form action="/assignments">
	  <input type="submit" value="Back" >
		</form>
		
		
    
</body>

	
	
	
	
	
</html>
