<!DOCTYPE HTML> 

<html>
	<head>
		<title>Assignment</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Assignment</h2>
	
		
	<form action="/assignments" method="post">
        Order Placed:
 		 <input type="text" name="orderPlaced"> <br> <br>
		Delivery Time:
 		 <input type="text" name="deliveryTime"> <br> <br>
        
   	Buyer Address:
 		 <input type="text" name="buyerAddress"> <br> <br>
     Store Name:
 		 <input type="text" name="StoreName"> <br> <br>
	 Status:
 		 <select name ="status">
          <option value="Pending">Pending</option>
           <option value="Delivered">Delivered</option>
		  </select>
		<br><br>
    
    <div class="row">
	  <div class="column">
	  Item Name: <br><br>
		  <input type="text" name="name" placeholder= "apple"> <br> <br>
		  
	    </div>
	<div class="column">
		
	  Quantity: <br><br>
		<input type="text" name="qty" placeholder= "3"> <br> <br>
		
	    </div>
		
	</div>
    
    
    <input type="submit" value="Update Status"> <br> <br>

	</form>
	
  <form action="/assignments">
	  <input type="submit" value="Back" >
		</form>
		
		
    
</body>

	
	
	
	
	
</html>
