<!DOCTYPE HTML> 

<html>
	<head>
		<title>Buyer Account Information </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2>  Buyer Account Information </h2>
	
  
    
 	<form action="/buyerFunctionality">
  <div class="row">
  <div class="column">
  First Name: {{ dictry["fname"] }}
 		 <br> <br>
  Username:  {{ dictry["uname"] }}
 		 <br> <br>
  Preferred Grocery Store:
 		 <input type="text" name="prefStore" placeholder= {{ dictry["storeName"] }}> <br> <br>

     
     Email:
 		 <input type="text" name="email" placeholder= {{ dictry["email"] }}> <br> <br>
	   Default Payment:
 		 <input type="text" name="payment" placeholder= {{ dictry["payment"] }}> <br> <br>
     
     Preferred Card Number:
 		 <input type="text" name="prefCard" placeholder= {{ dictry["account"] }}> <br> <br>
     Routing Number:
 		 <input type="text" name="routingNo" placeholder= {{ dictry["routing"] }}> <br> <br>
     
  </div>
  <div class="column">
  Last Name:   {{ dictry["lname"] }}
 		 <br> <br>
  Phone:
 		 <input type="text" name="phone" placeholder= {{ dictry["phone"] }}> <br> <br>
	   House Number:
 		 <input type="text" name="houseNo" placeholder= {{ dictry["houseNo"] }}> <br> <br>
  Street Address:
 		 <input type="text" name="streetAddress" placeholder= {{ dictry["street"] }}> <br> <br>
		City:
 		 <input type="text" name="city" placeholder= {{ dictry["city"] }}> <br> <br>
		State:
 		 <input type="text" name="state" placeholder= {{ dictry["state"] }}> <br> <br>
		ZipCode:
 		 <input type="text" name="zip" placeholder= {{ dictry["zipp"] }}> <br> <br>
     
  </div>
</div>
		

	  <input type="submit" value="update"> <br> <br>
		
	</form>
	
		
		<form action="/buyerFunctionality">
	  <input type="submit" value="Back" >
		</form>
    
    <form action="/">
	  <input type="submit" value="Delete Account" >
		</form>
	

</body>

	
	
	
	
	
</html>
