<!DOCTYPE HTML> 

<html>
	<head>
		<title>Buyer Functionality</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Buyer Functionality</h2>
	
		
		<form action="/listOfStores">
	  <input type="submit" value="New Order"> <br> <br>
		</form>
		<form action="/orderHistory">
	  <input type="submit" value="Order History"> <br> <br>
		</form>
		<form action="/buyerAccountInfo">
	  <input type="submit" value="Account Information"> <br> <br>
		</form>
   	  <form action="/paymentMethods">
	  <input type="submit" value="Payment Information"> <br> <br>
		</form>
		<form action="/">
	  <input type="submit" value="Logout" >
		</form>
	

</body>

	
	
	
	
	
</html>
