<!DOCTYPE HTML> 

<html>
	<head>
		<title>Buyer Account Information </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2>  Buyer Account Information </h2>
	
  
    
 	<form action="/updateBuyerAccountInfo" method="post">
  <div class="row">
  <div class="column">
  First Name: {{ dictry["fname"] }}
 		 <br> <br>
  Username:  {{ dictry["uname"] }}
 		 <br> <br>
  Preferred Grocery Store:
 		 <select name="prefstore">
		     		 <option {{store[0]}} value="1">1, Publix</option>
		     		 <option {{store[1]}} value="2">2, Publix</option>
		     		 <option {{store[2]}} value="3">3, Publix</option>
				<option {{store[3]}}  value="4">4, Publix</option>
				<option {{store[4]}} value="5">5, Publix</option>
				<option {{store[5]}} value="6">6, Publix</option>
				<option {{store[6]}} value="7">7, Publix</option>
				<option {{store[7]}} value="8">8, Kroger</option>
				<option {{store[8]}} value="9">9, Kroger</option>
				<option {{store[9]}} value="10">10, Kroger</option>
				<option {{store[10]}} value="11">11, Kroger</option>
				<option {{store[11]}} value="12">12, Kroger</option>
				<option {{store[12]}} value="13">13, Kroger</option>
				<option {{store[13]}} value="14">14, Whole Foods</option>
				<option {{store[14]}} value="15">15, Whole Foods</option>
				<option {{store[15]}} value="16">16, Sprouts</option>
				<option {{store[16]}} value="17">17, Sprouts</option>
				<option {{store[17]}} value="18">18, Piggly Wiggly</option>
				<option {{store[18]}} value="19">19, Walmart</option>
				<option {{store[19]}} value="10">20, Walmart</option>
				<option {{store[20]}} value="21">21, Target</option>
				<option {{store[21]}} value="22">22, Target</option>
				<option {{store[22]}} value="23">23, Aldi</option>
				<option {{store[23]}} value="24">24, Aldi</option>
				<option {{store[24]}} value="25">25, Aldi</option>
				<option {{store[25]}} value="26">26, Winndixie</option>
				<option {{store[26]}} value="27">27, Sams</option>
				<option {{store[27]}} value="28">28, Sams</option>
				<option {{store[28]}} value="29">29, Sams</option>
				<option {{store[29]}} value="30">30, Sams</option>
				<option {{store[30]}} value="31">31, Costco</option>
				<option {{store[31]}} value="32">32, Costco</option>
				<option {{store[32]}} value="33">33, Costco</option>
				<option {{store[33]}} value="34">34, Trader Joes</option>
				<option {{store[34]}} value="35">35, Trader Joes</option>
				
			
	
		    </select>

      <br><br>
     Email:
 		 <input type="text" name="email" value= {{ dictry["email"] }}> <br> <br>
	   Default Payment:
 		 <input type="text" name="payment" value= {{ dictry["payment"] }}> <br> <br>
     
     Preferred Card Number:
 		 <input type="text" name="prefCard" value= {{ dictry["account"] }}> <br> <br>
     Routing Number:
 		 <input type="text" name="routingNo" value= {{ dictry["routing"] }}> <br> <br>
     
  </div>
  <div class="column">
  Last Name:   {{ dictry["lname"] }}
 		 <br> <br>
  Phone:
 		 <input type="text" name="phone" value= {{ dictry["phone"] }}> <br> <br>
	   House Number:
 		 <input type="text" name="houseNo" value= {{ dictry["houseNo"] }}> <br> <br>
  Street Address:
 		 <input type="text" name="streetAddress" value= {{ dictry["street"] }}> <br> <br>
		City:
 		 <input type="text" name="city" value= {{ dictry["city"] }}> <br> <br>
		State:
 		 <input type="text" name="state" value= {{ dictry["state"] }}> <br> <br>
		ZipCode:
 		 <input type="text" name="zip" value= {{ dictry["zipp"] }}> <br> <br>
     
  </div>
</div>

	  <input type="submit" value="Update"> <br> <br>
	</form>
	
		
		<form action="/buyerFunctionality">
	  <input type="submit" value="Back" >
		</form>
    
    <form action="/deleteAccountInfo">
	  <input type="submit" value="Delete Account" >
		</form>
	<p id = "feedback"  style="color: red">{{error}}</p>

</body>

	
	
	
	
	
</html>
