<!DOCTYPE HTML> 

<html>
	<head>
		<title> Deliverer Account Information </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2>  Deliverer Account Information </h2>
	
  
  
    <form action="/delivererAccInfo">
  <div class="row">
  <div class="column">
     First Name:
 		 <input type="text" name="fname" placeholder= {{ dictry["fname"] }}> <br> <br>
     Username:
 		 <input type="text" name="uname" placeholder= {{ dictry["uname"] }}> <br> <br>

  </div>

  <div class="column">
     Last Name:
 		 <input type="text" name="lname" placeholder= {{ dictry["lname"] }}> <br> <br>
    
          Email:
 		 <input type="text" name="email" placeholder= {{ dictry["email"] }}> <br> <br>
  </div>
  </div>
		

	  <input type="submit" value="update"> <br> <br>
		
	</form>
	
		
		<form action="/delivererFunctionality">
	  <input type="submit" value="Back" >
		</form>
    
    <form action="/">
	  <input type="submit" value="Delete Account" >
		</form>
	

</body>

	
	
	
	
	
</html>
