<!DOCTYPE HTML> 

<html>
	<head>
		<title>Deliverer Functionality</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Deliverer Functionality </h2>
	
		
		<form action="/assignments">
	  <input type="submit" value="Assignments"> <br> <br>
		</form>
		<form action="/delivererAccInfo">
	  <input type="submit" value="Account Information"> <br> <br>
		</form>
		<form action="/">
	  <input type="submit" value="Logout" >
		</form>
	

</body>

	
	
	
	
	
</html>
