<!DOCTYPE HTML> 

<html>
	<head>
		<title> Deliverer Account Information </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2>  Deliverer Account Information </h2>
	
  
  
    <form action="/updateDelivererAccInfo" method="post">
  <div class="row">
  <div class="column">
     First Name: 
 		  <input type="text" name="fname" value=  {{ dictry["fname"] }} >  <br> <br>
     Username:  {{ dictry["uname"] }}
 	<br> <br>

  </div>

  <div class="column">
     Last Name:  
 		<input type="text" name="lname" value= {{ dictry["lname"] }}>  <br> <br>
    
          Email:
 		 <input type="text" name="email" value= {{ dictry["email"] }} > <br> <br>
  </div>
  </div>
		

	  <input type="submit" value="update"> <br> <br>
		
	</form>
	
		
		<form action="/delivererFunctionality">
	  <input type="submit" value="Back" >
		</form>
    
    <form action="/deleteAccountInfo">
	  <input type="submit" value="Delete Account" >
		</form>
	
<p id = "feedback"  style="color: red">{{error}}</p>
</body>

	
	
	
	
	
</html>
