<!DOCTYPE HTML>

<html>
	<head>
		<title>Find Item</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2>  Find Item </h2>
	
  
  
 	<form action="/itemType">
  <div class="row">
  <div class="column">
  Beverages:
 		 <input type="submit" name="beverages"> <br> <br>
  Baking Goods:
 		 <input type="submit" name="baking"> <br> <br>
  Canned Goods:
 		 <input type="submit" name="canned"> <br> <br>
  Dairy:
 		 <input type="submit" name="dairy"> <br> <br>
     
    Frozen Foods:
 		 <input type="submit" name="frozen"> <br> <br>
     
     Meat :
 		 <input type="submit" name="meat"> <br> <br>

     
  </div>
  <div class="column">
       Produce:
 		 <input type="submit" name="produce"> <br> <br>
	  
  Cleaning Products:
 		 <input type="submit" name="cleaning"> <br> <br>
  Personal Care:
 		 <input type="submit" name="personalCare"> <br> <br>
  Others:
 		 <input type="submit" name="other"> <br> <br>
     
  </div>
</div>
		

	  <input type="submit" value="check out"> <br> <br>
		
	</form>
	
		
		<form action="/storeHomepage">
	  <input type="submit" value="Back" >
		</form>
    

	

</body>

	
	
	
	
	
</html>
