<!DOCTYPE HTML>

<html>
	<head>
		<title>Find Item</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2>  Find Item </h2>
	
  
  
 	
  <div class="row">
  <div class="column">
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Beverages"> <br> <br>
	  </form>
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Baking"> <br> <br>
	 </form>
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Canned Goods"> <br> <br>
	 </form>
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Dairy"> <br> <br>
	 </form>
  <form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Frozen"> <br> <br>
	   </form>
    <form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Meat"> <br> <br>

      </form>
  </div>
  <div class="column">
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Produce"> <br> <br>
	   </form>
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Cleaning"> <br> <br>
	 </form>
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Personal Care"> <br> <br>
	 </form>
<form action="/itemType" method="post">
 		 <input type="submit" name="Itype" value="Others"> <br> <br>
	 </form>
     
  </div>
</div>
	</form>
		
	<form action="/checkout">

	  <input type="submit" value="check out"> <br> <br>
		
	</form>
	
		
		<form action="/storeHomepage">
	  <input type="submit" value="Back" >
		</form>
    

	

</body>

	
	
	
	
	
</html>
