<!DOCTYPE HTML> 

<html>
	<head>
		<title>Inventory</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Inventory</h2>
	
		
		<form action="/viewItemM" method="post">
		
		<table>
		  <tr>
		    <th>Item Name</th>
		    <th>Description</th>
		    <th>Quantity</th>
        <th>Retail Price</th>
        <th>Wholesale Price</th>
        <th>Expiration Date</th>
       
		  </tr>
			{% for i in info %}
		  <tr>
		<td><input type="radio" name="itemNo" value={{i[6]}}>{{i[0]}}</td>

		    <td>{{i[1]}}</td>
		    <td>{{i[2]}}</td>
		    <td>{{i[3]}}</td>
		    <td>{{i[4]}}</td>
		    <td>{{i[5]}}</td>
			  <td>{{i[6]}}</td>
       
		  </tr>
		 {% endfor %}
      
		</table>
			<br>
	Total Number of Items: {{count}} <br><br>
        
       <!-- <input type="submit" value="Delete Item"> <br> <br>  -->
         <input type="submit" value="View Item" color ="blue">
  </form>
	
	<!--
  <form action="/inventory" method="post">
				  <input type="submit" value="Add Item" color ="blue">
					</form> 
          -->
          
		
 <br <br> 

				<form action="/managerFunctionality" method="post">
				  <input type="submit" value="Back" color ="blue">
					</form> 
			

</body>

	
	
	
	
	
</html>
