<!DOCTYPE HTML> 

<html>
	<head>
		<title>item type</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> {{Itype}}</h2>
	
		
		
		
		
		<table>
		  <tr>
			  <th>Quantity</th>
		    <th>Item Name</th>
		    <th>Description</th>
		    <th>Expiration Date</th>
		   <th>Price</th>
		    <th>In Stock</th>
			  <th> Click Radio Button Then Add to Cart  </th>
		  </tr>
			
		{% for i in info %}
			{% if i[0] != 0 %}
				<form action="/addToCart" method="post">
		  		<tr>
		     		<td>
				    
					 
					  <input type="number" name="quantity" value="0" min="0" max={{i[0]}} >
							      
				   </td>
				    <td>{{i[1]}}</td>
				    <td>{{i[2]}}</td>
				    <td>{{i[3]}}</td>
				    <td>{{i[4]}}</td>
				    <td> Yes </td>
					<td> <input type="radio" name="itemID" value={{i[5]}} > <input type="submit"  value="Add To Cart" > </td>
				  </tr>
			</form> 
				
			{% else %}
				<tr>
		    		 <td>< <form >
					  
					  <input type="number" name="quantity" min="0" max={{i[0]}} >
					</form>	
					</td>
					    <td>{{i[1]}}</td>
					    <td>{{i[2]}}</td>
					    <td>{{i[3]}}</td>
					    <td>{{i[4]}}</td>
					    <td> No </td>
					  </tr>
			{% endif %}
		  
		  {% endfor %}
		</table>
		


	</form>
	
		
 
			<form action="/checkout" method="post">
				  <input type="submit" value="Check Out" color ="blue"> <br> <br>
				
				
					</form> 

				

				<form action="/findItem" method="post">
				  <input type="submit" value="Back" color ="blue">
					</form> 
			
</body>

	
	
	
	
	
</html>
