<!DOCTYPE HTML> 

<html>
	<head>
		<title>list of stores</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> List Of Stores</h2>
	
		
		<form action="/storeHomepage" method="post">
		
		
		<table>
		  <tr>
		    <th>Store Name</th>
		    <th>Address</th>
		    <th>Phone</th>
		    <th>Hours Today</th>
		  </tr>
			{%for i in info %} 
		  <tr>
		    <td><input type="radio" name="store" value={{dictry["storeID"]}}> {{dictry["storeName"]}}</td>
		    <td> {{dictry["house"]}} {{dictry["street"]}} {{dictry["city"]}} {{dictry["state"]}} {{dictry["zip"]}}</td>
		    <td>{{dictry["phone"]}}</td>
		 <td>{{dictry["open"]}} to {{dictry["close"]}}</td>
		  </tr>
			
		  {% endfor %}
		</table>
				
	  <input type="submit" value="Select"> <br> <br>

	</form>
	
		
	<br><br>
 		

				<form action="/buyerFunctionality" method="post">
				  <input type="submit" value="Back" color ="blue">
					</form> 
		

</body>

	
	
	
	
	
</html>
