<!-- <!DOCTYPE HTML> -->

<html>
	<head>
		<!--<title>User Login</title>-->
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
<body>

	<h2> User Login </h2> 
	<!-- we will have to change this later to reflect different user logins -->
	 <form action= "/loginReq" method="post">
	<!-- <form action= "buyerFunctionality6.html"> -->
	<!-- <form> -->
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password" minlength='1' required >
	<br> <br>
  <input type="submit" value="Log in" >
	</form>
	
	<br> <br> <br> 
	<!-- <form action="registrationType2.html" method="post"> -->
	<form action="/registrationType" method="post">
  <input type="submit" value="Register" color ="blue">
	</form> 

	<p id = "feedback"  style="color: red">{{error}}</p>
</body>

	
</html>
