<!DOCTYPE HTML> 

<html>
	<head>
		<title> Manager Functionality </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Manager Functionality </h2>
	
		
		<form action="/revenueReport">
	  <input type="submit" value="View Revenue Report"> <br> <br>
		</form>
		<form action="/managerAccInfo">
	  <input type="submit" value="Account Information"> <br> <br>
		</form>
		<form action="/outstandingOrders">
	  <input type="submit" value="View Orders"> <br> <br>
		</form>
		<form action="/inventory">
	  <input type="submit" value="View Inventory"> <br> <br>
		</form>
		<form action="/">
	  <input type="submit" value="Logout" >
		</form>
	

</body>

	
	
	
	
	
</html>
