<!DOCTYPE HTML> 

<html>
	<head>
		<title>New Payment</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> New Payment </h2>
	
		
	<form action="/paymentMethods" method="post">
		Payment Name:
 		 <input type="text" name="payName"> <br> <br>
     Account Number:
 		 <input type="text" name="accName"> <br> <br>
     Routing Number:
 		 <input type="text" name="routingNo"> <br> <br>
    Default:
    <select>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      
    </select>
    <br><br>
    
    <input type="submit" value="Add Payment"> <br> <br>

	</form>
	
		
		<form action="/paymentMethods">
	  <input type="submit" value="Back" >
		</form>
    
</body>

	
	
	
	
	
</html>
