<!DOCTYPE HTML> 

<html>
	<head>
		<title>Register Buyer</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Register Buyer </h2>
	
		
	<form action="/buyerFunctionality" method="post">
		Last Name:
 		 <input type="text" name="lname"> <br> <br>
     Last Name:
 		 <input type="text" name="lname"> <br> <br>
     Last Name:
 		 <input type="text" name="lname"> <br> <br>
    Default:
    <select>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      
    </select>
    
    
    <input type="submit" value="Add Payment"> <br> <br>

	</form>
	
		
		<form action="/buyerFunctionality">
	  <input type="submit" value="Back" >
		</form>
    
</body>

	
	
	
	
	
</html>
