<!DOCTYPE HTML> 

<html>
	<head>
		<title>Reciept</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Reciept </h2>
	
		
	<form action="/buyerFunctionality" method="post">
   Order Number: {{dictry["oid"]}}
 		 <br> <br>
		Payment Name: {{dictry["payment"]}} <br> <br>
      Deliverer's Name:  {{dictry["fname"]}} {{dictry["lname"]}} <br> <br>
   	Number of Items: {% for i in noItems%} {{i[0]}} {% endfor %}
		
 		  <br> <br>
     Time Order Places:  {{dictry["orderTime"]}}
 		 <br> <br>
     Time of Delivery:  {{dictry["deliveryTime"]}}
 		 <br> <br>
   
    
    
    <input type="submit" value="Home"> <br> <br>

	</form>
	
		
		
    
</body>

	
	
	
	
	
</html>
