<!DOCTYPE HTML> 

<html>
	<head>
		<title>Receipt</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Receipt </h2>
	
		
	<form action="/buyerFunctionality" method="post">
   Order Number: {{dictry["orderID"]}}
 		 <br> <br>
		Payment Name: {% for j in payment%} {{j[0]}} {% endfor %} <br> <br>
      Deliverer's Name:  {{dictry["fname"]}} {{dictry["lname"]}} <br> <br>
   	Number of Items: {% for i in noItems%} {{i[0]}} {% endfor %}
		
 		  <br> <br>
     Time Order Placed:  {{dictry["orderTime"]}}
 		 <br> <br>
     Time of Delivery:  {{dictry["deliveryTime"]}}
 		 <br> <br>
   
    
    
    <input type="submit" value="Home"> <br> <br>

	</form>
	
		
		
    
</body>

	
	
	
	
	
</html>
