<!-- <!DOCTYPE HTML>  -->

<html>
	<head>
		<title>Registration Type</title>
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Registration Type </h2>
	
		
		<form action="/registerBuyer3">
	  <input type="submit" value="Buyer"> <br> <br>
		</form>
		<form action="/registerDeliverer">
	  <input type="submit" value="Deliverer"> <br> <br>
		</form>
		<form action="/registerManager5">
	  <input type="submit" value="Manager"> <br> <br>
		</form>
		<form action="/">
	  <input type="submit" value="Back" >
		</form>
	

</body>

	
	
	
	
	
</html>
