<!DOCTYPE HTML> 

<html>
	<head>
		<title>Register Buyer</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Register Buyer </h2>
	
		
	<form action="/checkregisterBuyer" method="post">
		
		
		<div class="row">
  			<div class="column">
			First Name:
 		 <input type="text" name="fname"> <br> <br>
			Username:
 		 <input type="text" name="uname"> <br> <br>
			Password:
 		 <input type="text" name="password"> <br> <br>
			Email:
 		 <input type="text" name="email"> <br> <br>
			House Number:
 		 <input type="text" name="houseNo"> <br> <br>
			Street Name:
 		 <input type="text" name="street"> <br> <br>	
			City:
 		 <input type="text" name="city"> <br> <br>
			Payment Name:
 		 <input type="text" name="payment"> <br> <br>
			Account Number:
 		 <input type="text" name="accNo"> <br> <br>
			Routing Number:
 		 <input type="text" name="routingNo"> <br> <br>
				
			</div>
 		 	<div class="column">
			Last Name:
 		 <input type="text" name="lname"> <br> <br>
			Phone:
 		 <input type="text" name="phone"> <br> <br>
			Confirm Password:
 		 <input type="text" name="cpassword"> <br> <br>
			State:
 		 <input type="text" name="state"> <br> <br>
			ZipCode:
 		 <input type="text" name="zip"> <br> <br>
			</div>
			Default Store ID:
			<select>
		      <option value="1">1</option>
		      <option value="2">2</option>
		      <option value="3">3</option>
			<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="10">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
				<option value="32">32</option>
				<option value="33">33</option>
				<option value="34">34</option>
				<option value="35">35</option>
				
			
			
				
			
				
			
			
		    </select>
 		  <br> <br>
		</div>
	   	
		
		
		
		
		
		
		
		
		
		
		
	  <input type="submit" value="Register"> <br> <br>

	</form>
	
		
		<form action="/registrationType">
	  <input type="submit" value="Back" >
		</form>
	<p id = "feedback"  style="color: red">{{error}}</p>

</body>

	
	
	
	
	
</html>
