<!DOCTYPE HTML> 

<html>
	<head>
		<title>Register Buyer</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Register Buyer </h2>
	
		
	<form action="/checkregisterBuyer" method="post">
		
		
		<div class="row">
  			<div class="column">
			First Name:
 		 <input type="text" name="fname"> <br> <br>
			Username:
 		 <input type="text" name="uname"> <br> <br>
			Password:
 		 <input type="text" name="password"> <br> <br>
			Email:
 		 <input type="text" name="email"> <br> <br>
			House Number:
 		 <input type="text" name="houseNo"> <br> <br>
			Street Name:
 		 <input type="text" name="street"> <br> <br>	
			City:
 		 <input type="text" name="city"> <br> <br>
			Default Payment:
 		 <select name="payment">
		      <option value="VISA">VISA</option>
		      <option value="Debt">Debt</option>
		      <option value="Check">Check</option>
			  <option value="AE">American Express</option>
		 </select> <br><br>
			Account Number:
 		 <input type="text" name="accNo"> <br> <br>
			Routing Number:
 		 <input type="text" name="routingNo"> <br> <br>
				
			</div>
 		 	<div class="column">
			Last Name:
 		 <input type="text" name="lname"> <br> <br>
			Phone:
 		 <input type="text" name="phone"> <br> <br>
			Confirm Password:
 		 <input type="text" name="cpassword"> <br> <br>
			State:
 		 <input type="text" name="state"> <br> <br>
			ZipCode:
 		 <input type="text" name="zip"> <br> <br>
			</div>
		</div>
			Assign Store:
			
			<select name="dsID">
		  {% for i in  store %}
		      
		   	 <option  value={{i[0]}}> {{i[0]}}, {{i[1]}}  </option>
		  
		  {% endfor %}
	
		    </select>

     
		
 		  <br> <br>
		
	   	
		
		
		
		
		
		
		
		
		
		
		
	  <input type="submit" value="Register"> <br> <br>

	</form>
	
		
		<form action="/registrationType">
	  <input type="submit" value="Back" >
		</form>
	<p id = "feedback"  style="color: red">{{error}}</p>

</body>

	
	
	
	
	
</html>
