<!DOCTYPE HTML> 

<html>
	<head>
		<title>Revenue Report</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Revenue Report </h2>
	
		
	
   Store Name:  {{dictry["storename"]}}
 		  <br> <br>
		Number of Items Sold:  {{dictry["itemCount"]}}
 		 <br> <br>
     Total Profit:  {{dictry["revenue"]}}
 		 <br> <br>

    
   <form action="/managerFunctionality" method="post"> 
    <input type="submit" value="Back"> <br> <br>

	</form>
	
		
		
    
</body>

	
	
	
	
	
</html>
