<!DOCTYPE HTML> 

<html>
	<head>
		<title>Revenue Report</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Revenue Report </h2>
	
		
	
   Store Name:
 		 <input type="text" name="storeName"> <br> <br>
		Number of Items Sold:
 		 <input type="text" name="noItemsSold"> <br> <br>
     Total Profit:
 		 <input type="text" name="profit"> <br> <br>

    
   <form action="/managerFunctionality" method="post"> 
    <input type="submit" value="Back"> <br> <br>

	</form>
	
		
		
    
</body>

	
	
	
	
	
</html>
