<!DOCTYPE HTML> 

<html>
	<head>
		<title>Store Homepage</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> Store Homepage</h2>
	
		
		<form action="/findItem">
	  <input type="submit" value="Find Item"> <br> <br>
		</form>
		<form action="/cart">
	  <input type="submit" value="View Cart"> <br> <br>
		</form>
		<form action="/orderHistory">
	  <input type="submit" value="Cancel Order"> <br> <br>
		</form>
		<form action="/listOfStores">
	  <input type="submit" value="Back" >
		</form>
	

</body>

	
	
	
	
	
</html>
