
<!DOCTYPE HTML> 

<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
<body>

	
	<h2> {{dictry["itemName"]}} </h2>
	
		
	
   Item Name:  {{dictry["itemName"]}}
 		  <br> <br>
		Description:  {{dictry["description"]}}
 		 <br> <br>
     Quantity:  {{dictry["quantity"]}}
 		 <br> <br>
        Retail Price:  {{dictry["retailPrice"]}}
 		  <br> <br>
         Wholesale Price:  {{dictry["wholesalePrice"]}}
 		  <br> <br>
        Expiration Date:  {{dictry["expDate"]}}
 		  <br> <br>

    
   <form action="/inventory" method="post"> 
    <input type="submit" value="Back"> <br> <br>

	</form>
	
		
		
    
</body>

	
	
	
	
	
</html>
